/* цвет текста
#212121 - заголовки
#757575 - основной текст
#2196F3 - синий
#FFFFFF - белый
rgba(255, 255, 255, 0.6) адресс в подвале*/

/* цвет фона
#E5E5E5 - основной
#F5F4FA - вторичный
#FFFFFF - голова
#2F303A - подвал*/

html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-bgr-color: #E5E5E5;
    --title-white-color: #FFFFFF;
    --accent-bgr-color: #F5F4FA;
}

body {
    color: var(--primery-text-color);
    background-color: var(--primery-bgr-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    cursor: pointer;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Header */
.header {
    background-color: var(--title-white-color);
}

.conteiner {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid tomato;
}

.contriner-auth {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

/* Logo */
.logo-header {
    color: var(--accent-color);
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-header > .logo-studio {
    color: #000000;
}

/* Site-nav */
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}

.auth-nav .socials {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.auth-nav .socials:hover,
.auth-nav .socials:focus {
    color: var(--accent-color);
}

/* Шапка */
.hero {
    background-color: #2F303A;
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--title-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Button*/
.button {
    color: var(--title-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}

/* Section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-study {
    padding-bottom: 94px;
}

.section-title {
    margin-top: 0;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Features */
.features .title-features {
    margin-top: 0;
    margin-bottom: 24px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
}

.features p{
    margin-top: 0;
}

/* Team */
.team {
    background-color: var(--accent-bgr-color);
}

.team-title {
    padding-top: 94px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.subtitle {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list {
    padding-bottom: 94px;
}

.team-list .job {
    font-size: 14px;
    line-height: 1.7;
}

/* Footer */
.footer {
    background-color: #2F303A;
}

.logo-footer {
    color: var(--accent-color);
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-footer > .logo-studio {
    color: var(--title-white-color);
}

.footer .footer-address {
    color: var(--title-white-color);
    line-height: 1.71;
    font-style: normal;
}

.footer .footer-socials {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    line-height: 1.71;
    font-style: normal;
}

.footer .footer-socials:hover,
.footer .footer-socials:focus {
    color: var(--accent-color);
}

/* Styles.css for portfolio.html */
/* Навигация */
.conteiner-section {
    padding: 94px 215px;
}

.conteiner-portfolio {
    width: 1200px;
    outline: 2px solid tomato;
}

.btn .btn-list {
    padding: 0;
    background-color: var(--accent-bgr-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;  
}

.btn .btn-list:hover,
.btn .btn-list:focus {
    background-color: var(--accent-color);
}

.btn .btn-list.current {
    background-color: var(--accent-color);
}

/* Услуги */
.heading {
    margin: 20px 24px 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    outline: 2px solid green;
}

.services .vacancy {
    margin: 4px 24px 20px 24px;
    font-size: 16px;
    line-height: 1.88;
    outline: 2px solid blue;
}

